<div class="container">
  <div class="title is-3">
    <%= link_to @event.name_event, event_path(@event) %>
  </div>
  <div class="box">
    <div class="title is-5">Creator</div>
    <p><%= @event.creator.username %></p>
    <div class="title is-5">Promotion</div>
    <p><%= @event.promotion %></p>
    <div class="title is-5">Description</div>
    <p><%= @event.description[0..100] %><%= '...' if  @event.description.size > 100 %></p>
    <div class="title is-5">Time</div>
    <p><%= @event.time %></p>
    <div class="title is-5">Date</div>
    <p><%= @event.date %></p>
    <div class="title is-5">Location</div>
    <p><%= @event.localtion %></p>
    <div class="title is-5">Attendees:</div>
    <p><% @event.attendees.each do |attendee| %>
        <%= attendee.username %>
      <% end %>
    </p>
  </div>
</div>
