<div class="container">
  <div class="columns is-centered">
    <div class="column is-half">
      <%= form_with(model: event, local: true) do |f| %>
        <% if event.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

            <ul>
              <% event.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <label class='label' for="name_event">Name event</label>
        <%= f.text_field :name_event, class: 'input' %> <br>
        <label class='label' for="promotion">Promotion</label>
        <%= f.text_field :promotion, class: 'input'  %> <br>
        <label class='label' for="description">Description</label>
        <%= f.text_area :description, class: 'textarea'  %> <br>
        <label class='label' for="time">Time (HH:MM:AM/PM)</label>
        <%= f.time_field :time %> <br>
        <label class='label' for="date">Date</label>
        <%= f.date_field :date, min: Time.now %> <br>
        <label class='label' for="localtion">Location</label>
        <%= f.text_field :localtion, class: 'input'  %> <br>
        <label class='label' for="attendee_ids">Attendees</label>
        <% if event.attendees.present? %>
        <%# Update Attendees??? %>
          <% f.collection_check_boxes :attendee_ids, User.all, :id, :username %> <br>
        <% else %>
          <%= f.collection_check_boxes :attendee_ids, @users, :id, :username %> <br>
        <% end %>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>
